body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
/*Header*/
header {
  background-color: rgb(87, 146, 223);
  color: white;

  text-align: center;
  margin: 0px;
}
h1 {
  margin: 0px;
  padding: 25px;
}
/*Materiales*/
main {
  margin: 40px;
}
h2 {
  color: rgb(87, 146, 223);
}
li {
  margin: 10px 0px;
}
.importante {
  text-decoration: black underline;
  font-weight: bolder;
}
/*Tabla*/
th,
td {
  padding: 15px 20px;
  text-align: center;
}
thead {
  color: white;
  background-color: rgb(87, 146, 223);
}
#descanso {
  font-weight: bolder;
  font-size: 25px;
}
tr {
  background-color: rgba(87, 146, 223, 0.247);
}
tr:nth-child(even),
th {
  background-color: rgba(87, 146, 223, 0.678);
}
